/* Navbar */
#navbar{
	height: 100px;
	padding: 10px 0 10px 0;
	background-color: rgb(102, 96, 218);
}
#navbar img{
	width: 100px;
	height: 80px;
}
#nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#nav li{
	float: left;
	margin-right: 80px;
	line-height: 80px;
	vertical-align: middle;
}
#nav a{
	color:  white;
	padding-bottom: 3px;
	position: relative;
	font-weight: bold;
}
#nav a:hover{
	text-decoration: none;
}
.draw {
	transition: color 0.25s;
}
.draw::after {
	box-sizing: inherit;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 3px solid transparent;
	width: 0;
	height: 0;
}
.draw::after {
	bottom: 0;
	left: -5px;
}
.draw:hover {
	color: rgb(14, 183, 218);
}
.draw:hover::after {
	width: 140%;
	height: 100%;
}
.draw:hover::after {
	border-bottom-color: rgb(14, 183, 218);
	transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
#logInLink{
	line-height: 50px;
	vertical-align: middle;
}
#logInLink a{
	display: inline-block;
	margin-top: 15px;
	width: 120px;
	height: 50px;
	border-radius: 30px;
	background-color: rgb(205, 100, 255);
	color: white;	
	transition: background-color 0.8s, color 0.8s;
}	
#logInLink a:hover{
	text-decoration: none;
	background-color: white;
	color: dodgerblue;
}

/* Features presentation */
#features_presentation{
	margin-top: 45px;
}
#presentation_description{
	margin-top: 25px;
	margin-bottom: 80px;
}
.feature_block{
	padding: 20px;
	border: 1px solid rgb(200, 200, 200);
	text-align: left;
	margin-right: 25px;
	margin-bottom: 25px;
	transition: box-shadow 0.4s;
}
.feature_block:hover{
	box-shadow: 4px 4px 10px #bbb;
}
.feature_block div{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 25px 0 25px 0;
	background-color: white;
}
.feature_block img{
	margin: 20px;
	width: 40px;
	height: 40px;
}
.feature_block h4{
	margin-bottom: 20px;
}

/* Contact */
#contact{
	font-size: 25px;
	margin-top: 25px;
	margin-bottom: 55px;
}
