body{
	text-align: center;
	background-color: rgb(250, 250, 250);
}
.row{
	margin: 0;
}

/* Back button */
#back_button{
	width: 30px;
	height: 20px;
	position: absolute;
	left: 25px;
	top: 25px;
	z-index: 1;
	transition: transform 0.4s;
}
#back_button:hover{
	transform: scale(1.3);
}
#back_button img{
	width: 100%;
	height: 100%;
}

#work_list_table > table th p{
	max-height: 300px;
	text-align: center;
	writing-mode: tb-rl;
	margin: 0;
}
